ccxt==1.55.2
SQLAlchemy==1.4.22
python-telegram-bot==13.7
arrow==1.1.1
cachetools==4.2.2
requests==2.26.0
urllib3==1.26.6
wrapt==1.12.1
pandas==1.3.1
scikit-learn==0.24.2
scipy==1.7.1
jsonschema==3.2.0
numpy==1.21.1
TA-Lib==0.4.21
pytest==6.2.4
pytest-mock==3.6.1
pytest-cov==2.12.1
hyperopt==0.2.5
# do not upgrade networkx before this is fixed https://github.com/hyperopt/hyperopt/issues/325
networkx==2.6.2
git+git://github.com/berlinguyinca/technical
tabulate==0.8.9
coinmarketcap==5.0.3
simplejson==3.17.3
# Required for plotting data
#plotly==2.3.0
