ccxt==1.48.35
SQLAlchemy==1.4.11
python-telegram-bot==13.4.1
arrow==1.0.3
cachetools==4.2.1
requests==2.25.1
urllib3==1.26.4
wrapt==1.12.1
pandas==1.2.4
scikit-learn==0.24.1
scipy==1.6.2
jsonschema==3.2.0
numpy==1.20.2
TA-Lib==0.4.19
pytest==6.2.3
pytest-mock==3.5.1
pytest-cov==2.11.1
hyperopt==0.2.5
# do not upgrade networkx before this is fixed https://github.com/hyperopt/hyperopt/issues/325
networkx==2.5.1
git+git://github.com/berlinguyinca/technical
tabulate==0.8.9
coinmarketcap==5.0.3
simplejson==3.17.2
# Required for plotting data
#plotly==2.3.0
